<form [formGroup]="userForm" *ngIf="userForm">
  <div>
    <label for="name">Name</label>
    <input formControlName="name" type="text" id="name" required>
  </div>

  <div>
    <label for="email">E-mail</label>
    <input formControlName="email" type="email" id="email">
  </div>
  <div>
    <label for="name">City</label>
    <input type="text" formControlName="city" id="city" class="form-control">
    
  </div>
  <div *ngIf="city.invalid">
    <div *ngIf = "city.errors.required">City Name is required</div> 
  </div>
  
  <button [disabled]="!userForm.valid">Save</button>
</form>
